<!DOCTYPE html>
<html>

<head>
  <title>Tune Talk</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <div class="container">
  <div>
    <nav>
      <div>
        <ul>
          <li>
            <% if (user) { %>
            <a href="/logout"><i class="material-icons left"> </i>Log Out</a>
            <% } else { %>
            <a href="/auth/google"><i class="material-icons left"> </i>Google Login</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- link post -->
  <div class="center-align">
    <form action="/posts" method="POST">
      <div class="input-field">
      <input type="text" name="title">
      <label for="title">Title</label>
    </div>
    <div class="input-field">
      <input type="text" name="artist">
      <label for="artist">Artist</label>
    </div>
    <div class="input-field">
      <input type="text" name="description">
      <label for="coment">Description</label>
    </div>
    <div class="input-field" class="url">
        <input type="url" name="link">
        <label for="link">Youtube Music URL</label>
      </div>
      <button type="submit">submit post</button>
    </form>
    <% if(posts){ %>
    <!-- //loop to the post to render all comments -->
    <% posts.forEach(function(p) { %>
    <ul class="card-panel hoverable">
      <li><%= p.title %></li> 
      <li><%= p.artist %></li>
      <li><%= p.description %></li>
      <li ><a href="/posts/<%= p._id %>">See More About This Post</a></li>
    </ul>
    <% }); %>
    <% } else { %>
    <h1 class="center-align">there are no posts to show</h1>
    <% } %>
  </div>

</div>
</body>

</html>