<!DOCTYPE html>
<html>

<head>
  <title>Tune Talk</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <!-- <a href="" class="brand-logo left">Tunes-Talk!!!</a> -->
        <!-- new html below -->
        <ul class="right">
          <li>
            <% if (user) { %>
            <a href="/logout"><i class="material-icons left"> </i>Log Out</a>
            <% } else { %>
            <a href="/auth/google"><i class="material-icons left"> </i>Google Login</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- link post -->
  <div class="music-post">
    <form action="/posts" method="POST">
      <input type="text" name="title">
      <input type="text" name="artist">
      <button type="submit">submit post</button>
    </form>
    <% if(posts){ %>
    <!-- //loop to the post to render all comments -->
    <% posts.forEach(function(p) { %>
    <ul>
      <li><%= p.title %></li>
      <li><%= p.artist %></li>
      <li><a href="/posts/<%= p._id %>">DETAILS</a></li>
    </ul>
    <% }); %>
    <% } else { %>
    <h1>there are no posts to show</h1>
    <% } %>
  </div>
  <!--comment form -->
  <div class="comment-form">
    <form action="/posts" method="POST">
      <input type="text" name="text">
      <button type="submit">submit post</button>
    </form>
  </div>
</body>

</html>