@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

* {
    font-family: 'Livvic', sans-serif;
}

body {
    background-image: url("https://i.imgur.com/2zS30bim.jpg");
}

div h1 {
    font-size: 82px; 
    margin-top: 0px; 
    color: rgb(0, 0, 0); 
}

div h4 {
    margin-top: 70px; 
    margin-bottom: 0px; 
    color: rgb(0, 0, 0); 
}

.space { 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.prev-post {
    font-size: 25px; 
}

    .submit {

        background: rgba(34, 27, 51, 0.466);
        
        color: rgb(23, 37, 82);
        
        border: 1px solid #eee;
        
        border-radius: 20px;
        
        box-shadow: 5px 5px 5px #eee;
        
        text-shadow:none;
        }

        li {
            color: rgb(0, 0, 0); 
        }